doctype html
html(lang="en-us")
  head
    if title
      title= title
    else
      title SMR
    // Meta tags
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-TileColor", content="#0F1934")
    meta(name="theme-color", content="#0F1934")
    meta(
      name="description",
      content="DeRace services and analytics at your fingertips."
    )
    link(rel="canonical", href="https://smracing.io/")
    meta(property="og:locale", content="en_US")
    meta(property="og:type", content="website")
    meta(property="og:title", content="$tone Motherless Racing")
    meta(
      property="og:description",
      content="DeRace services and analytics at your fingertips."
    )
    meta(property="og:url", content="https://smracing.io/")
    meta(property="og:site_name", content="$tone Motherless Racing")
    link(rel="shortlink", href="https://smracing.io/")
    // Links
    link(rel="stylesheet", href="/stylesheets/style.css", defer)
    link(rel="apple-touch-icon", href="/img/logo.png")
    link(rel="icon", type="image/ico", href="/img/favicon.ico")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      rel="preload",
      href="https://unpkg.com/aos@2.3.1/dist/aos.js",
      as="script"
    )
    link(
      rel="preload",
      href="https://unpkg.com/aos@2.3.1/dist/aos.css",
      as="style"
    )
    link(
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Patua+One&display=swap",
      rel="stylesheet"
    )
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css", rel="stylesheet")
    noscript
      link(
        rel="stylesheet",
        media="all",
        href="/stylesheets/noscript.css",
        defer
      )
    // Viewport relativity
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    )
    script.
      var viewportmeta = document.querySelector('meta[name="viewport"]');
      if (viewportmeta) {
        if (screen.width < 375) {
          var newScale = screen.width / 375;
          viewportmeta.content = "width=375, minimum-scale=" + newScale + ", maximum-scale=1.0, user-scalable=no, initial-scale=" + newScale + "";
        } else {
          viewportmeta.content = "width=device-width, maximum-scale=1.0, initial-scale=1.0";
        }
      }
  body.preload(
    onload="setTimeout(function(){document.body.className=\"\";},800);"
  )
    #primary_content(
      style="display: flex; flex-direction: column; justify-content: space-between; min-height: 100vh"
    )
      .content
        block content

      include includes/footer.pug

    // Scripts
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="/javascripts/main.js", defer)
    script.
      AOS.init();
